.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  align-items: center;
  text-transform: uppercase;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-logo p {
  font-size: 38px;
  color: #171717;
  font-weight: 600;
}

.nav-list {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #626262;
  list-style: none;
}

.nav-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  justify-content: center;
  cursor: pointer;
  color: #6c6666;
}

.nav-list hr {
  background: #ff4141;
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
}

.nav-login-cart {
  display: flex;
  /* justify-content: center;
     */
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  color: #515151;
  border-radius: 75px;
  background: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #ff4141;
  color: white;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.nav-toggle {
  display: none;
}

/* MEDIA QUERY ============================= */

/* 1280px */

@media (max-width: 1280px) {
  .navbar {
    padding: 12px 50px;
  }
  .navbar img {
    width: 40px;
  }
  .navbar p {
    font-size: 25px;
  }
  .nav-list {
    gap: 30px;
    font-size: 16px;
  }
  .nav-login-cart button {
    height: 45px;
    width: 120px;
    font-size: 16px;
  }
  .nav-login-cart {
    gap: 30px;
  }
  .nav-cart-count {
    margin-left: -40px;
    font-size: 12px;
  }
}

/* 1024px */

@media (max-width: 1024px) {
  .navbar {
    padding: 12px 0px;
  }

  .nav-list {
    gap: 35px;
    font-size: 14px;
  }

  .nav-login-cart button {
    height: 35px;
    width: 80px;
    font-size: 14px;
  }
  .nav-login-cart img {
    width: 30px;
  }

  .nav-cart-count {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 10px 0px;
  }
  .nav-toggle {
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.5s;
  }

  .nav-list {
    display: none;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 50px;
    background: white;
    justify-content: center;
  }
  .nav-menu-visible {
    display: flex;
  }
  .nav-toggle.open {
    transform: rotate(90deg);
  }

  .nav-logo {
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 8px 0px;
  }
  .nav-toggle {
    transform: scale(0.75);
  }
  .nav-logo {
    transform: scale(0.8);
  }
  .nav-list {
    height: 70px;
    top: 50x;
  }

  .nav-login-cart {
    transform: scale(0.8);
  }
}
