.relatedProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.relatedProducts h1 {
  font-size: 50px;
  font-weight: 600;
  color: #171717;
}
.relatedProducts hr {
  width: 200px;
  height: 3px;
  border-radius: 10px;
  background: #252525;
}

.relatedProducts_item {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  border-radius: 16px;
  color: #252525;
}

@media (max-width: 1280px) {
  .relatedProducts {
    height: 70vh;
    margin-bottom: -10rem;
  }
  .relatedProducts h1 {
    font-size: 40px;
  }
  .relatedProducts hr {
    width: 160px;
    height: 3px;
  }
  .relatedProducts_item {
    gap: 20px;
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .relatedProducts {
    height: 60vh;
    /* margin-bottom: -10rem; */
    margin-bottom: 2rem;

  }
  .relatedProducts h1 {
    font-size: 30px;
  }
  .relatedProducts hr {
    width: 120px;
    height: 3px;
  }
  .relatedProducts_item {
    gap: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .relatedProducts {
    height: 50vh;
    gap: 6px;
    margin-bottom: -7rem;
  }
  .relatedProducts h1 {
    font-size: 20px;
  }
  .relatedProducts hr {
    width: 100px;
  }
  .relatedProducts_item {
    gap: 8px;
  }
}

@media (max-width: 500px) {
  .relatedProducts {
    height: 90vh;
    margin-bottom: -13rem;
  }

  .relatedProducts_item {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* @media(max-width:1280px){
    .relatedProducts-container{
        height: 70vh;
    }
    .relatedProducts-container h1{
        font-size: 40px;
    }
    .relatedProducts-container hr{
        width: 160px;
        height: 3px;
    }
    .relatedProducts-item{
        gap: 20px;
        margin-top: 30px;
    }
} */

/* @media(max-width:1024px){
    .relatedProducts-container{
        height: 60vh;
    }
    .relatedProducts-container h1{
        font-size: 30px;
    }
    .relatedProducts-container hr{
        width: 120px;
        height: 3px;
    }
    .relatedProducts-item{
        gap:15px;
        margin-top: 20px;
    }
} */

/* @media(max-width:800px){
    .relatedProducts-container{
        height:50vh;
        gap: 6px;
    }
    .relatedProducts-container h1{
        font-size: 20px;
    }
    .relatedProducts-container hr{
        width: 100px;
    }
    .relatedProducts-item{
        gap:8px;
        margin-top: 10px;
    }
} */

/* @media(max-width:500px){
    .relatedProducts-container{
        height:90vh;
        margin-bottom:-13rem;
    }
  
    .relatedProducts-items{
        gap:20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} */
